/*<meta />*/

img
{
	border: none;
}

a.Popup
{
	
}

body
{
	font-family: Verdana;
}

p.TOC3
{
	font-family: Verdana;
}

p.Note
{
	background-color: #556b2f;
	color: #ffffff;
}

h1
{
	font-size: 1.6em;
	font-weight: bold;
	font-style: normal;
}

h2
{
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
}

h3
{
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
}

@media print
{
	a
	{
		text-decoration: none;
		color: #000000;
	}

	p.TOC3
	{
		text-decoration: none;
	}

	a:active
	{
		text-decoration: none;
		color: #000000;
	}

	a.Popup
	{
		text-decoration: none;
		color: #000000;
	}

	a.MCBreadcrumbsLink
	{
		text-decoration: none;
		color: #000000;
	}

	a.GlossaryPageTerm
	{
		text-decoration: none;
		color: #000000;
	}

	a:visited
	{
		text-decoration: none;
		color: #000000;
	}

	a:link
	{
		text-decoration: none;
		color: #000000;
	}

	a:hover
	{
		text-decoration: none;
		color: #000000;
	}

	a:focus
	{
		text-decoration: none;
		color: #000000;
	}
}

